<!-- Loop over each object in the TravelPosts array -->
{{#each posts as |post| }}
<div class="row mb-4 Post">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
  {{!-- {{{get_emoji category}}} --}}

      {{{get_emoji "Follow along for the adventure"}}} 
      {{{get_emoji "Post your adventure"}}} 
      {{!-- {{{get_emoji "map"}}}  --}}
      {{{get_emoji "pictures"}}} 
        <nav class="navbar navbar-light bg-light mb-5">
      <div class="container">
        <a class="navbar-brand" href="#">Multer Image Upload to Cloudinary</a>
      </div>
    </nav>
    <main class="container">
      <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
          <form id="image-uploader">
            <div class="mb-3">
              <label for="imageFile" class="form-label">Image upload</label>
              <input class="form-control" type="file" id="imageFile" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="row mt-5">
          <div id="image-placeholder" class="col-12 col-md-4 offset-md-4"></div>
      <a href="/post/{{post.id}}">{{post.name}}</a>
    </h2>
    <p>
      Explore on <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a>
    </p>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
  </div>
  
  {{/each}}

